<div class="search mt-3 mt-3">
  <mat-form-field appearance="outline">
    <mat-label>{{config.filterLabel}}</mat-label>
    <input matInput placeholder="Placeholder" type="text" [formControl]="filter">
  </mat-form-field>
</div>

<div *ngIf="config.total > 0; else empty">
  <table class="table table-striped">
    <thead>
    <ng-content select="[header]"></ng-content>
    </thead>
    <ng-content select="[body]"></ng-content>
  </table>

  <mat-paginator [length]="config.total"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="config.pageSizeOptions"
                 (page)="updatePaginator($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
<ng-template #empty>
  <div class="text-center">
    <h1>Results not found</h1>
  </div>
</ng-template>

