<table class="table table-striped">
  <thead>
  <ng-content select="[header]"></ng-content>
  </thead>
  <ng-content select="[body]"></ng-content>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshData()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshData()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
