<h2>Learnings</h2>
<div class="d-flex justify-content-between align-items-baseline mt-3 mb-3">
  <form class="">
    <div class="form-group form-inline">
      Name search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  <button type="button" class="btn-primary btn" (click)="showCreateDialog()">Create</button>
</div>

<div *ngIf="total > 0">
  <app-table [total]="total" (refreshAction)="updatePagination($event)">
    <tr header>
      <th scope="col" *ngFor="let col of cols; let i = index" [class.text-center]="i === 1">{{col | titlecase}}</th>
    </tr>
    <tbody body>
    <tr *ngFor="let learning of learnings; let i = index">
      <td>{{learning.name}}</td>
      <td class="text-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault" [checked]="isLearningArchived(learning)" (change)="updateStatus(learning.id,$event.currentTarget)">
        </div>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-light"><i class="fas fa-user-plus"></i></button>
        <button type="button" class="btn btn-light" (click)="showDeleteDialog(learning)"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </app-table>
</div>


