<form action="" [formGroup]="form">
  <div class="pb-2">
    <mat-form-field appearance="outline">
      <mat-label>Name*</mat-label>
      <input matInput placeholder="Placeholder" formControlName="name">
      <mat-error *ngIf="name && name.invalid">You must enter a Name</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Choose a status</mat-label>
      <mat-select name="status" formControlName="status">
        <mat-option [value]="0">Archived</mat-option>
        <mat-option [value]="1">Active</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
