<h2>Learnings</h2>
<div class="d-flex justify-content-between align-items-baseline mt-3 mt-3">
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>Name search</mat-label>
      <input matInput placeholder="Placeholder" type="text" [formControl]="filter">
    </mat-form-field>
  </div>
  <button type="button" mat-raised-button (click)="showCreateDialog()">Create</button>
</div>

<div>
  <app-table [total]="total" [page]="page" [pageSize]="pageSize" (refreshAction)="updatePagination($event)">
    <tr header>
      <th scope="col" *ngFor="let col of cols; let i = index" [class.text-center]="i === 1">{{col | titlecase}}</th>
    </tr>
    <tbody body>
    <tr *ngFor="let entity of entities">
      <td class="pt-4">{{entity.name}}</td>
      <td class="text-center pt-4">
        <mat-checkbox  class="example-margin" [checked]="isArchived(entity)" (change)="updateStatus(entity.id,$event.checked)"></mat-checkbox>
      </td>
      <td class="text-center">
        <button type="button" mat-icon-button
                matTooltip="Assign"
                matTooltipPosition="left"
                (click)="showAssignDialog(entity)"><i class="fas fa-user-plus"></i></button>
        <button type="button" mat-icon-button
                matTooltip="Remove"
                matTooltipPosition="right"
                (click)="showDeleteDialog(entity)"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </app-table>
</div>


